{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk"              import govukBackLink %}
{% from "govuk/components/button/macro.njk"                 import govukButton %}
{% from "govuk/components/details/macro.njk"                import govukDetails %}
{% from "govuk/components/error-summary/macro.njk"          import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk"             import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk"    import govukNotificationBanner %}
{% from "govuk/components/phase-banner/macro.njk"           import govukPhaseBanner %}
{% from "govuk/components/summary-list/macro.njk"           import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk"           import govukWarningText %}
{% from "govuk/components/radios/macro.njk"                 import govukRadios %}
{% from "govuk/components/table/macro.njk"                  import govukTable %}
{% from "govuk/components/tag/macro.njk"                    import govukTag %}

{% block head %}
    <!--[if !IE 8]><!-->
    <link href="{{assetPath}}/stylesheets/govuk-frontend/v4.6.0/govuk-frontend-4.6.0.min.css" rel="stylesheet"/>
    <!--<![endif]-->

    <style>
        @font-face {
      font-family: "GDS Transport";
      src: url("{{assetPath}}/fonts/light-94a07e06a1-v2.woff2") format("woff2"), url("{{ cdnHost }}/fonts/light-f591b13f7d-v2.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: fallback;
    }
  
    @font-face {
      font-family: "GDS Transport";
      src: url("{{assetPath}}/fonts/bold-b542beb274-v2.woff2") format("woff2"), url("{{ cdnHost }}/fonts/bold-affa96571d-v2.woff") format("woff");
      font-weight: bold;
      font-style: normal;
      font-display: fallback;
    }
  
    .govuk-footer__copyright-logo {
        background-image: url("{{assetPath}}/images/govuk-crest-2x.png");
    }

    #cookie-banner {
        font-family: GDS Transport, arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 19px;
        line-height: 1.31579;
        padding-top: 20px;
        border-bottom: 10px solid transparent;
        background-color: #f3f2f1
    }

  
    </style>

    {# For Internet Explorer 8, you need to compile specific stylesheet #}
    {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
    <!--[if IE 8]>
  <link href="{{assetPath}}/stylesheets/govuk-frontend/v3.11.0/govuk-frontend-ie8-3.11.0.min.css" rel="stylesheet" />
  <![endif]-->

    <link href="{{assetPath}}/stylesheets/services/account-validator-web/app.css" rel="stylesheet"/>
    {% block download %}{% endblock %}
{% endblock %}

{% block bodyStart %}
    {% include "includes/cookie-consent-banner.html" %}
{% endblock %}

{% block header %}
    {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    serviceName: "Validate an XBRL accounts",
    serviceUrl: "/xbrl_validate",
    containerClasses: "govuk-width-container"})
  }}
{% endblock %}

{% block beforeContent %}
    {% set survey_link_html = '' %}
    {% if SURVEY_LINK and SURVEY_LINK != "" %}
        {% set survey_link_html = ' - Help us improve it by providing <a class="govuk-link" href="' + SURVEY_LINK + '" data-event-id="feedback-banner-link" target="_blank" rel="noopener noreferrer">feedback <span class="govuk-visually-hidden">(This link opens in a new window)</span></a>' %}
    {% endif %}
   {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service' + survey_link_html
  }) }}

  {% if userEmail %}
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
  {% endif %}
            {% block backLink %}{% endblock %}
  {% if userEmail %}
          </div>
          {% set email = userEmail | default("Not signed in") %}
          <div class="govuk-grid-column-one-half govuk-!-text-align-right govuk-!-static-margin-top-3">
              <span class="govuk-body-s govuk-!-margin-2" id="signed-in-user">{{ email }}</span>
              <a class="govuk-link" href="{{ signoutURL }}" data-event-id="signout" id="user-signout">Sign out</a>
          </div>
      </div>
      <div class="govuk-section-break govuk-section-break--visible"></div>
  {% endif %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing govuk-body") %}

{% block footer %}
    {{ govukFooter({
    meta: {
      items: [
        {
          href: "http://resources.companieshouse.gov.uk/legal/termsAndConditions.shtml",
          text: "Policies"
        },
        {
          href: "https://find-and-update.company-information.service.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/government/organisations/companies-house#org-contacts",
          text: "Contact us"
        },
        {
          href: "https://developer.companieshouse.gov.uk/",
          text: "Developers"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
    {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    <script src="{{assetPath}}/javascripts/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.js"></script>
    <script>
        window
            .GOVUKFrontend
            .initAll()
    </script>
    {% include "includes/piwik-scripts.html" %}
{% endblock %}

{% macro errorSummary() %}
    {% if formValidationResult.hasErrors %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: formValidationResult.errors
        }) }}
    {% endif %}
{% endmacro %}