<h1 class="govuk-heading-xl">
        Upload your package accounts
    </h1>

{{ errorSummary() }}

<form method="POST" enctype="multipart/form-data" action="{{Urls.SUBMIT}}">
    {% include "includes/csrf-token.njk" %}
    {{ govukFileUpload({
            id: "{{FILE_UPLOAD_FIELD_NAME}}",
            name: "{{FILE_UPLOAD_FIELD_NAME}}",
            errorMessage: formValidationResult.getErrorForField("{{FILE_UPLOAD_FIELD_NAME}}"),
            label: {
                text: "Upload your package accounts zip file then select validate. Your file must be smaller than 100MB."
            }
        }) }}

    <p class="govuk-body">We’ll need to check the file to make sure it’s valid. This can take up to 15 minutes.</p>

    {{ govukButton({
            id: "submit-button",
            text: "Validate",
            type: "submit"
        }) }}
</form>
