{% extends "layout.html" %}

{% block pageTitle %}
  {{ i18n.service_offline_page_title }}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ i18n.service_offline_title }}</h1>
      <p class="govuk-body">{{ i18n.service_offline_message1 }}</p>
      <p class="govuk-body">{{ i18n.service_offline_message2 }}<a href="mailto:xml@companieshouse.gov.uk">xml@companieshouse.gov.uk</a>.</p>
    </div>
  </div>
{% endblock %}
